<b:style src="./standalone.css"/>
<b:define name="disconnected" from="connected" type="invert"/>

<div class="view view_{disconnected}" event-mousedown="stop-propagation prevent-default" basis-devpanel-ignore>
  <div class="no-subject" b:hide="{hasSubject}">
    Component is not selected
  </div>
  <div class="content" b:show="{hasSubject}">
    <div class="sidebar">
      rolesTree <!--{rolesTree}-->
    </div>
    <div class="content">
      path <!--{path}-->
      trackingList <!--{trackingList}-->
    </div>
  </div>
</div>
